.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 48vh;
}

.intro__logo {
  margin-top: -7%;
  padding: 3.8rem 0;
}

.intro__h1 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
}

.intro__h2 {
  padding: 1rem 0;
  width: 50%;
  color: #60c093;
  font-size: 1.1rem;
  font-weight: 500;
  text-align: center;
}

.intro__text {
  text-align: center;
  width: 50%;
}

.steps {
  padding-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.steps__bg {
  position: relative;
  opacity: 10%;
}

.steps__textContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.steps__intro {
  font-size: 1.8em;
  font-weight: 600;
}

.steps__heading {
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 1rem;
}

.steps__text {
  width: 70%;
}

.steps__container {
  width: 70%;
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.steps__visual {
  display: flex;
  justify-content: center;
  width: 55%;
}

.steps__code {
  display: flex;
  justify-content: center;
  width: 55%;
  font-size: 80%;
}

@media (max-width: 1280px) {
  .intro__text {
    width: 100%;
    max-width: 600px;
  }

  .intro__h1 {
    width: 100%;
    max-width: 600px;
  }

  .intro__h2 {
    width: 100%;
    max-width: 600px;
  }

  .steps__text {
    padding-top: 1rem;
    width: 100%;
    max-width: 600px;
    text-align: center;
    padding-bottom: 5%;
  }

  .steps__heading {
    text-align: center;
  }

  .steps__textContainer {
    align-items: center;
  }
  .steps__container {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .steps__code {
    min-width: 375px;
    width: 50%;
  }

  .steps__visual {
    min-width: 375px;
    width: 50%;
  }
}
