format: 0.0.1-prealpha.3
displayName: Example wrapper
subtext: Example subtext
description: Example description
repository: https://github.com
icon: ./meta/imgs/logo.png
tags:
  - example
links:
  - name: Example
    icon: ./meta/imgs/link-logo.png
    url: https://polywrap.io
queries:
{{#moduleTypes}}
  {{#methods}}
  - name: {{#toSentence}}{{name}}{{/toSentence}}
    query: ./meta/queries/{{name}}.graphql
    vars: ./meta/queries/{{name}}.json
  {{/methods}}
{{/moduleTypes}}